In [7]:
# PyCity Analysis

In [126]:
import pandas as pd
from pathlib import Path

school_data_load = Path("Resources/schools_complete.csv")
student_data_load = Path("Resources/students_complete.csv")

school_data = pd.read_csv(school_data_load)
student_data = pd.read_csv(student_data_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [95]:
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [96]:
total_students = school_data_complete["Student ID"].count()
total_students

39170

In [97]:
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [98]:
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [15]:
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [19]:
passing_math_count = school_data_complete[(school_data_complete['math_score']>=70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students) * 100
passing_math_percentage

74.9808526933878

In [21]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage= passing_reading_count / float(total_students) * 100
passing_reading_percentage

85.80546336482001

In [113]:
passing_math_reading_count= school_data_complete[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)].count()["student_name"]
overall_passing_rate=passing_math_reading_count / float(total_students) * 100
overall_passing_rate

65.17232575950983

In [134]:
district_summary = pd.DataFrame({"Total Schools": [school_count],"Total Students": [total_students],"Total Budget": [total_budget],"Average Math Score": [average_math_score],"Average Reading Score":[average_reading_score],"% Passing Math":[passing_math_percentage],"% Passing Reading":[passing_reading_percentage],"% Overall Passing": [overall_passing_rate]})
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [128]:
school_types = school_data.set_index(["school_name"])["type"]

In [103]:
per_school_counts = school_data_complete.groupby("school_name")["Student ID"].count()

In [104]:
per_school_budget = school_data_complete.set_index("school_name")["budget"]
per_school_capita = per_school_budget / per_school_counts

In [105]:
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [63]:
students_passing_math = (school_data_complete[school_data_complete["math_score"]>=70])
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()

In [65]:
students_passing_reading = (school_data_complete[school_data_complete["reading_score"]>=70])
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()

In [61]:
students_passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"]>=70)& (school_data_complete["math_score"]>=70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [118]:
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rates = school_students_passing_math_and_reading / per_school_counts * 100

In [136]:
per_school_summary = pd.DataFrame({"School Type":[school_types], "Total Students":[per_school_counts],"Total School Budget":[per_school_budget],"Per Student Budget":[per_school_capita],"Average Math Score":[per_school_math],"Average Reading Score":[per_school_reading],"% Passing Math":[per_school_passing_math], "% Passing Reading": [per_school_passing_reading], "% Overall Passing": [overall_passing_rates]})
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Bailey High School 4976 Cabr...,school_name Huang High School 1910635 Huan...,school_name Bailey High School 628.0 Bailey...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...